<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Utilities', utilities_path %></li>
  <li class="active">Edit Utility<li>
</ol>

<h1>Edit Utility</h1>

<%= render 'form', utility: @utility %>