<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Utilities', utilities_path %></li>
  <li class="active">Show Utility<li>
</ol>

<h1>Show Utility</h1>

<%= @utility.name %>